.gallery {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../assets/images/gallery-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: screen;
  width: screen;
  .splash_banner {
    background-image: url('../../assets/images/splash-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    transform: rotate(-9deg);
  }
}
